python_server/__pycache__/file_database.cpython-312.pyc
python_server/__pycache__/find_chrome_website.cpython-312.pyc
python_server/__pycache__/helpers.cpython-312.pyc
python_server/__pycache__/logs_database.cpython-312.pyc
python_server/__pycache__/special_cases_database.cpython-312.pyc
python_server/__pycache__/special_cases_tab.cpython-312.pyc
